body {
  padding-top: 100px;
}

.navbar-logo {
  max-height: 40px;
  margin-top: -10px;
  margin-right: -7px;
}

#contentarea {
  margin-bottom: 50px;
}

textarea {
  resize: vertical;
}

#footer {
  min-height: 25px !important;
  height: 25px !important;
}

#footer a {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  font-size: 10px !important;
}

#logoutlink {
  margin-left: -15px;
}
