body {
  padding-top: 100px;
}

.navbar-logo {
  max-height: 40px;
  margin-top: -10px;
  margin-right: -7px;
}

#contentarea {
  margin-bottom: 50px;
}

textarea {
  resize: vertical;
}

#footer {
  min-height: 25px !important;
  height: 25px !important;
}

#footer a {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  font-size: 10px !important;
}

#logoutlink {
  margin-left: -15px;
}

.clickabletable > tbody > tr:hover> td {
  background-color: #CC5D3E;
  color: #FFFFFF;
  cursor: pointer;
}

.modal {
  margin-top: 30px;
}

.inline {
  display: inline-block;
}

.timer {
  cursor: pointer;
}

.aftertag:after {
  content: attr(aftertag);
  position: absolute;
  white-space: nowrap;
  margin-left: 8px;
  color: gray;
  font-size: 50%;
  line-height: 300%;
}

a.thumbnail {
  padding: 0;
  overflow: hidden;
}

.thumbnail .gamebox {
  position: relative;
  display: block;
}

.thumbnail .gamebox > img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin: auto;
  padding: 4px;
  padding-bottom: 10px;
}

.thumbnail .gamebox > div {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0px;
  padding: -100px 0px 0px 0px;
  text-align: center;
  background: rgba(204, 204, 204, 0.78);
  z-index: 10;
}

.gamelogo {
  display: block;
  max-height: 100px;
  width: auto;
  margin: 0 auto;
}

#bigpopupimage {
  display: block;
  margin: auto;
  max-width: 100%;
}

#imagemodal .modal-dialog {
  min-width: 60%;
}
